@import "../../../../assets/variables";

.list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}


@media (min-width: $breakpoint-desktop) {
    .list {
        grid-template-columns: auto auto auto auto;

    }

}

@media (min-width: $breakpoint-tablet) {
    .list {
        grid-template-columns: auto auto auto auto auto;

    }

}