@import "variables";

body {
    background-color: rgb(14, 14, 14);
    color: rgb(212, 212, 212);
}

main {
    padding-inline: 40px;

    form {
        display: flex;
        flex-wrap: wrap;

        >* {
            width: 100%;

            >div,
            label {
                text-align: center;
                margin-block: 15px;

                input,
                textarea {
                    width: 80%;
                    display: block;
                    margin: auto;
                }
                textarea{
                    height: 100px;
                }
            }

        }

        button[type=submit] {
            width: 30%;
            margin: auto;
        }
    }
}

a {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

h2,
h3 {
    text-align: center;
}

ul{
    text-align: center;
}



@media (min-width: $breakpoint-desktop) {
    main {
        max-width: $general-page-size-desktop;
        margin: auto;
        padding-inline: 0px;
    }

}

@media (min-width: $breakpoint-tablet) {}